* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, div, section, article {
    background: gray;
    color: white;
}

p:hover {
    background: blue;
    color: black;
}

#main {
    border: 1px solid black;
}

div#main:hover p#paragraph {
    color: red;
}

div#main-2::after {
    content:"sunmisola";
    width: 20px;
    height: 20px;
    border: 1px solid orange;
}

div#main-2::before {
    content:"sunmi";
    width: 30px;
    height: 30px;
    padding: 20px;
    margin: auto;
    border: 2px solid red;

}

[class^="mid"] {
    border: 5px solid green;
}

#main-2 p {
    word-spacing: 20px;
    text-shadow: 2px 2px red;
}