<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles.css">
        <title>tutorial class</title>
        <style>
            h1,h2,h3 {
                
            }

    
            
        </style>
    </head>
    <body>
       <!--h1 print sunmisola--> 
        <h1>layout</h1>
        <a href="../index/index.html"><img width="200" height="300" src="../../fire.jpg" alt="fire"></a>






        <h2>sunmisola</h2>
        <h3>sunmisola</h3>
        <h4>sunmisola</h4>
        <h5>sunmisola</h5>
        <h6>sunmisola</h6>
        <p style="color:green; font-size: 2rem; background-color: black;">sunmisola is very tall</p>
        <p style="color:blue;font-size: 32px;background-color: orange;">Anime is very good</p>
        
        
    </body>
</html>