<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius aspernatur sint nihil veritatis similique vitae tempore expedita voluptatum eos.</header>
    <nav>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius aspernatur sint nihil veritatis similique vitae tempore expedita voluptatum eos.</nav>
    <aside>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius aspernatur sint nihil veritatis similique vitae tempore expedita voluptatum eos.</aside>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius aspernatur sint nihil veritatis similique vitae tempore expedita voluptatum eos.</article>
    <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius aspernatur sint nihil veritatis similique vitae tempore expedita voluptatum eos.</section>
    <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eius aspernatur sint nihil veritatis similique vitae tempore expedita voluptatum eos.</footer>
</body>
</html>