@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&family=Moon+Dance&display=swap');

body {
    background: red;
}

h1 {
    color: green;
}

p {
    font-size: 20px;
    font-family: 'Moon Dance', cursive;
    color: white;
}

p.para {
    font-size: 25px;
    color: black;
}

.icon {
    color: white;
}