a:link {
    color: black;
}

a:visited {
    color: brown;
}

a:hover {
    color: red;
    border-bottom: 2px solid;
}

a:active {
    color: green;
}

a {
    text-decoration: none;
}