li {
    width: 10px;
    height: 10px;
} 

ul {
    display: block;
    justify-content: space-around;
    margin: 100px;
}

span {
    display: block;
}

div {
    display: inline;
}