.dropdown {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}


.dropdown .dropdown-img img {
    width: 200px;
    height: 200px;
}

.dropdown .dropdown-img2 img {
    display: none;
}

.dropdown .dropdown-img3 img {
    display: none;
}

.dropdown:hover .dropdown-img3 img {
    display: block;
    position: absolute;
}